
<div style="height: 100vh; margin: 0; display: flex; justify-content: center; align-items: center;">
    <div>
      <div class="container">
        <form>
          <div class="form-floating mb-3">
            <div style="display: flex;">
              <input type="text" maxlength="6" size="4" class="form-control" style="margin-right: 5px;" [(ngModel)]="code.code"> 
            </div>
          </div>
          <br>
          <div class="d-grid gap-2 text-center">
            <button class="btn btn-primary btn-lg" type="submit" (click)="validarcodigo()" >Crear Cuenta</button>
          </div>
        </form>
      </div>
    </div>
</div>
