<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="form-floating mb-3">
        <input type="text" class="form-control"  >
        <label for="floatingInput">Nombre</label>
      </div>
      
      
      <select class="form-select form-select-lg mb-3" aria-label="Large select example">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>

      <div class="form-floating mb-3">
        <input type="text" class="form-control"  >
        <label for="floatingInput">Precio Unitario</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" >
        <label for="floatingInput">Descripcion</label>
      </div>

      <div class="form-floating mb-3">
        <input type="text" class="form-control" >
        <label for="floatingInput">Stock</label>
      </div>

      <div class="d-grid gap-2 text-center">
        <button class="btn btn-outline-success btn-lg" type="submit">Guardar Cambios</button>
      </div>
</div>