<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="d-grid gap-2">
        <a class="btn btn-outline-success ">Agregar</a>
      </div>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col">Transporte</th>
                <th scope="col">Estado</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of orderList; let i = index">
                <td>{{ item.user_name}}</td>
                <td>{{ item.shipper_name }}</td>
                <td>{{ item.state}}</td>
                <td>
                    <button class="btn btn-warning button">Modificar</button>
                    <button class="btn btn-danger button">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>