<app-index></app-index>
<div class="container"[@fadeIn] style="margin: 150px;">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" >
        <label for="floatingInput">Nombre</label>
      </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" >
        <label for="floatingInput">Direccion</label>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingPassword" >
        <label for="floatingPassword">Correo De Contacto</label>
        <br>
        <div class="d-grid gap-2 text-center">
            <button class="btn btn-primary btn-lg" type="button">Guardar Cambios</button>
      </div>
</div>