<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" [(ngModel)]="provider.nombre" >
        <label for="floatingInput">Nombre</label>
      </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" [(ngModel)]="provider.direccion" >
        <label for="floatingInput">Direccion</label>
      </div>
      <div class="form-floating">
        <input type="number" class="form-control" [(ngModel)]="provider.contacto">
        <label for="floatingPassword">Numero De Contacto</label>
        <br>
        <div class="d-grid gap-2 text-center">
          <button class="btn btn-outline-success btn-lg" type="submit" (click)="createProvider()">Guardar Cambios</button>
        </div>
</div>