<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="d-grid gap-2">
        <a class="btn btn-primary" routerLink="/FGamePlat">Agregar</a>
      </div>
      <table class="table table-bordered table-hover text-center">
        <thead thead class="table-primary">
          <tr>
    
            <th scope="col">VideoJuego</th>
            <th scope="col">Plataforma</th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            @for (item of platformList;track $index){
 
            <tr>
                <td>{{item.videogame_name}}</td>
                <td>{{item.platform_name}}</td>

                <td>
                    <button class="btn btn-outline-warning button"  data-bs-toggle="modal" data-bs-target="#exampleModal"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg></button>
                </td>
              </tr>
            }
        </tbody>
      </table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Este comentario es pra no perderme  -->
        <form  class="form-floating" >
          
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="name" placeholder="Nombre"  name="name">
            <label for="name">Nombre</label>
          </div>


          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="direccion" placeholder="Direccion"  name="direccion">
            <label for="direccion">Dirección</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="email_contacto" placeholder="Contacto" name="email_contacto">
            <label for="email_contacto">Contacto</label>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
</div>