<app-navbar></app-navbar>

<div class="container">
  <div class="d-grid gap-2">
    <a class="btn btn-primary" routerLink="/FGamePlat">Agregar</a>
  </div>
  <table class="table table-bordered table-hover text-center">
    <thead thead class="table-primary">
      <tr>
        <th scope="col">VideoJuego</th>
        <th scope="col">Plataforma</th>
      </tr>
    </thead>
    <tbody>
      @for (item of platformList;track $index){
      <tr>
        <td>{{item.videogame_name}}</td>
        <td>{{item.platform_name}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>