<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container" style="background-color: rgba(108, 202, 7, 0.21);border-radius: 10px;">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-primary">Detalle Ordenes</button>
        <button type="button" class="btn btn-outline-primary">Detalle Juegos Proveedor</button>
        <hr>
        <h4 class="text-center" style="color: whitesmoke;font-family: 'Times New Roman', Times, serif;">Logs</h4>
        <a type="button" class="btn btn-outline-primary" routerLink="/Log">Detalle Juegos Proveedor</a>
</div>