<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="container" style="background-color: rgba(0, 0, 0, 0.33);border-radius: 10px;">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-outline-light" routerLink="/GamePro">Detalle Juegos Proveedor</button>
        <h4 class="text-center" style="color: whitesmoke;font-family: 'Times New Roman', Times, serif;">Logs</h4>
        <a type="button" class="btn btn-outline-light" routerLink="/Log">Movimientos En Plataforma</a>
</div>