<app-navbar></app-navbar>
<div class="container" style="overflow-x: auto;">
  <table class="table table-bordered table-hover text-center">
    <thead thead class="table-primary">
      <tr >
        <th scope="col">Usuario</th>
        <th scope="col">Consumo</th>
        <th scope="col">Query</th>
        <th scope="col">Data</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let log of logList.slice().reverse()">        
        <td style="text-align:justify;">{{log.user_name}} <br> {{log.user_email}}</td>
        <td style="text-align:justify;">{{log.http_verb}} <br> {{log.route}}</td>
        <td style="text-align:justify;">{{log.query}}</td>
        <td style="text-align:justify;">{{log.data}}</td>
      </tr>
    </tbody>
  </table>
</div>

  