<app-navbar></app-navbar>
<br>
<div class="container">
  <div class="d-grid gap-2">
    <a class="btn btn-primary responsive" routerLink="/FValorations">Agregar</a>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-hover text-center">
      <thead thead class="table-primary">
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Juego</th>
          <th scope="col">Calificacion</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        @for (item of valorationList;track $index){
        <tr>
          <td>{{item.user_name}}</td>
          <td>{{item.videogame_name}}</td>
          <td>
            <ng-container *ngFor="let i of [].constructor(item.estrellas); let star = index">
              ★
            </ng-container>
          </td>

          <td>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-warning button" (click)="getMyValoration(item.id)" ><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
              </svg></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="valorationsForm" class="form-floating" (ngSubmit)="updateValo()">
          <div class="form-floating mb-3">
            <select class="form-select" formControlName="estrellas" aria-label="Default select example"
              [(ngModel)]="selectedValoration.estrellas">
              <option >★</option>
              <option value="2">★★</option>
              <option value="3">★★★</option>
              <option value="4">★★★★</option>
              <option value="5">★★★★★</option>
            </select>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>